<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mb-3 btn w-100">
                <label for="prompt"btn class="form-label">Prompt:</label>
                <textarea id="prompt" name="prompt" class="form-control w-100" rows="8" maxlength="4096"></textarea>
            </div>
            <div class="mb-3 w-100 float-right">
                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div class="col-12">
            <h1>Response</h1>
            <div id="response"></div>
        </div>
    </div>
</div>

@section Scripts {
     <script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
    <script src="~/js/inference.js"></script>
}
