html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}


.chat-request-form {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: stretch;
}

.chat-results {
    --sentColor: #0b93f6;
    --receiveColor: #e5e5ea;
    --bg: #fff;
    display: flex;
    flex-flow: column;
    margin-top: 1rem;
}

    .chat-results .chat-message {
        position: relative;
        max-width: 75%;
        margin-bottom: 15px;
        padding: 10px 20px;
        line-height: 24px;
        word-wrap: break-word;
        border-radius: 25px;
    }

        .chat-results .chat-message:before {
            position: absolute;
            bottom: 0;
            height: 25px; /* height of our bubble "tail" - should match the border-radius above */
            content: '';
            width: 20px;
        }

        .chat-results .chat-message:after {
            position: absolute;
            bottom: 0;
            height: 25px; /* height of our bubble "tail" - should match the border-radius above */
            content: '';
            width: 26px;
            background-color: var(--bg); /* All tails have the same bg cutout */
        }

.chat-results .request-message {
    align-self: flex-end;
    color: white;
    background: var(--sentColor);
}

    .chat-results .request-message:before {
        right: -7px;
        background-color: var(--sentColor);
        border-bottom-left-radius: 16px 14px;
    }

    .chat-results .request-message:after {
        right: -26px;
        border-bottom-left-radius: 10px;
    }

.chat-results .response-message {
    align-self: flex-start;
    color: black;
    background: var(--receiveColor);
}

    .chat-results .response-message:before {
        left: -7px;
        background-color: var(--receiveColor);
        border-bottom-right-radius: 16px 14px;
    }

    .chat-results .response-message:after {
        left: -26px;
        border-bottom-right-radius: 10px;
    }